#content {
    display: grid;
    grid: 100px / auto auto;
    gap: 2rem;
    padding: 0rem 4rem 0rem 4rem;
}
nav {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: end;
}
nav > a {
    text-decoration: none;
    color: darkslategrey;
}
h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    font-size: 2.5rem;
}
img {
    grid-row: 2 / 2;
    width: 420px;
}
p {
    font-size: 1.5rem;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}